<ion-list>

  <form [formGroup]="signUpForm">


    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input type="text" value=""
      formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="password"
      formControlName="password" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Repeat password</ion-label>
      <ion-input type="password"
      formControlName="passwordConfirmation" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>User Type</ion-label>
      <ion-select type="text"
      formControlName="userType" >
        <ion-option value='ADMIN'>admin</ion-option>
        <ion-option value='ORGANIZATOR'>organizator</ion-option>
        <ion-option value='VISITOR'>visitor</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <p *ngIf="(signUpData.password != signUpData.passwordConfirmation) && signUpData.passwordConfirmation">Password confirmation is not the same</p>
      <p *ngIf="message">{{message}}</p>
    </ion-item>

    <button ion-button full
    (click)="onSignUpSubmit()"
    [disabled]="!signUpForm.valid">Sign Up</button>

  </form>

</ion-list>
